<style>
	.center {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}

	.form-gap {
		padding-top: 70px;
	}
</style>

<head>

	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<!------ Include the above in your HEAD tag ---------->
</head>

<body>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<div class="form-gap"></div>
	<div class="container">
		<div class="text-center mb-2">
			<h1>LNM-services-Password Reset!</h1> <br>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="text-center">
							<h3><i class="fa fa-lock fa-4x"></i></h3>
							<h2 class="text-center">Forgot Password?</h2>
							<p>You can reset your password here.</p>
							<div class="panel-body">

								<form action='{% url "update_password" %}' class="form" method="POST" id="register-form"
									role="form" autocomplete="off">
									{% csrf_token %}
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon"><i
													class="glyphicon glyphicon-envelope color-blue"></i></span>
											<input id="email" name="email" placeholder="email address"
												class="form-control" type="email">
										</div>
									</div>
									<div class="form-group">
										<input name="recover-submit" class="btn btn-lg btn-primary btn-block"
											value="Reset Password" type="submit">
									</div>

									<input type="hidden" class="hide" name="token" id="token" value="">
								</form>
								<a href="{% url 'login'  %}" class="btn btn-lg btn-success btn-block">LogIn</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>




















<!-- {% load static %}
<!doctype html>
<link rel="icon" href="{% static 'img/accounts_img/logo2.jpg' %}">
<html lang="en">

<head>
	<title>LNM-services</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{% static 'login_register/css/style.css' %}">

</head>

<body class="img js-fullheight" style="background-image: url({% static 'login_register/images/lnmiit.jpg' %});">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">LNM-services</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
						<h3 class="mb-4 text-center">Your account's email</h3>
						<form action='{% url "update_password" %}' class="Register-form" method="POST">
							{% csrf_token %}
							<div class="form-group">
								<input type="email" name="email" class="form-control" placeholder="Email" required>
							</div>
							<div class="form-group">
								<button type="submit" class="form-control btn btn-primary submit px-3">Submit</button>
							</div>
						</form>
						<div class="social d-flex text-center">
							<a href="{% url 'login'  %}" class="px-2 py-2 mr-md-1 rounded"><span
									class="ion-logo-facebook mr-2"></span>Sign In </a>
							<a href="{% url 'register'  %}" class="px-2 py-2 mr-md-1 rounded"><span
									class="ion-logo-facebook mr-2"></span> Register </a>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% for message in messages %}
	<p>{{message}}</p>
	{% endfor %}
	<script src="{% static 'login_register/js/jquery.min.js' %}"></script>
	<script src="{% static 'login_register/js/popper.js' %}"></script>
	<script src="{% static 'login_register/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'login_register/js/main.js' %}"></script>

</body>

</html> -->