{% extends 'common/base_navbar.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col d-flex justify-content-center" id="cards">
      <div class="row mx-auto">
        <div class="card p-2 m-5" style="width: 18rem;">
          <img src="https://i.ibb.co/2Ph3FPN/LNM-2.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">LNM-Shop</h5>
            <p class="card-text">A go to store for all your college needs and to sell unused items
            </p>
            <a href="/LNMshop" class="btn btn-outline-primary">Enter The store</a>
          </div>
        </div>

        <div class="card p-2 m-5 mx-auto" style="width: 18rem;">
          <img src="https://i.ibb.co/mRQt1c7/LNM-3.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">LNM-Taxi</h5>
            <p class="card-text">Find your ride along companion for your City rides with ease
            </p>
            <a href="/LNMtaxi" class="btn btn-outline-warning">Find your partner</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
  <!-- <html>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Letter - Simple Sign Up Form</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">   Google web font "Open Sans" -->
  <!-- <link rel="stylesheet" href="{% static 'site_home/css/font-awesome.min.css' %}"> -->
  <!--<link rel="stylesheet" href="{% static 'site_home/css/bootstrap.mins.css' %}">-->

  <!-- <link rel="stylesheet" href="{% static 'site_home/css/demo.css' %}" />
  <link rel="stylesheet" href="{% static 'site_home/css/templatemo-style.css' %}">

  <script type="text/javascript" src="{% static 'site_home/js/modernizr.custom.86080.js' %}"></script>


    <div id="particles-js"></div>
</html>
<section>
<body class="services__body" style="background-color:#575757;">


<div class="services__container_div">
    <div class="card" style="width: 18rem;">
  <img style = "height: 100 px;" src="https://i.ibb.co/2Ph3FPN/LNM-2.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  </div>
    
    {% comment %} <a href="LNMshop">
   <div class="services__div2 tm-content col-xs-8"  >
      <h1 class="services__h1">LNM-shop</h1>
   </div>
        </a>
    <a href="LNMtaxi">
   <div class="services__div2 tm-content col-xs-8">
      <h1 class="services__h1"> LNM-taxi</h1>
    </div>
        </a> {% endcomment %}
 </div>

</body>
</section>
<script type="text/javascript" src="{% static 'site_home/js/particles.js' %}"></script>
	<script type="text/javascript" src="{% static 'site_home/js/app.js' %}"></script> -->