{% extends 'common/base_navbar.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{% static 'shop/home/csss/stylee.css' %}" type="text/css" media="all" />
<script src="{% static 'shop/home/js/jquery-1.4.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'shop/home/js/jquery.jcarousel.pack.js' %}" type="text/javascript"></script>
<script src="{% static 'shop/home/js/jquery.slide.js' %}" type="text/javascript"></script>
<script src="{% static 'shop/home/js/jquery-func.js' %}" type="text/javascript"></script>
    <style>
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 240px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button:hover {
    background: black;
}

.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */
.button4 {background-color: #e7e7e7; color: black;} /* Gray */
.button5 {background-color: #555555;} /* Black */
</style>
</head>
<body>
{% csrf_token %}
<div class="shell">
    <div class="options">
        <a href="{% url 'LNMshop_home' %}" style="font-size:30px"><strong>LNM-shop</strong></a>
      <div class="right"><span class="left more-links"> <a href="{% url 'insert_product' %}"><strong>Place your add +</strong></a> <a href="{% url 'user_wishlist' %}"><strong>Wishlist</strong></a> <a href="{% url 'view_product' %}"><strong>Your Products</strong></a> </span> </div>
    </div>
    {% if products %}
<div class="items">

              <ul>
                {% for product in products %}
                <li>
                  <img src="{{product.photo.url}}" class="image"  width="380" height="220" align="right" style="border: 5px solid #555;border-radius: 25px;"/>
                    <p> <strong>NAME:&nbsp;&nbsp;</strong> <span>{{product.name}}</span><br/><br/>
                    <strong>CATEGORY:&nbsp;</strong> <span>{{product.category}}</span><br/><br/>
                        <strong>DESCRIPTION:&nbsp;</strong> <span>{{product.description}}</span>
                    </p><br/><br/>
                    <p class="price"><strong>₹ {{product.price}}</strong></p>
                    <div style="display:flex" >
                    <a  href="{% url 'delete_wishlist_product' id=product.id %}" class=""><button class="button button5">DELETE</button></a>
                        </div>
                    <br/>

                </li>
                {% endfor %}
              </ul>
              <div class="cl">&nbsp;</div>
            </div>
    {% else %}
        No products in your wishlist
    {% endif %}
</div>
</body>
{% endblock %}
